<!DOCTYPE HTML>
<html>
<head>
    <title>리리샵</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--bootstrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <!-- 네비게이션 -->

    <!-- 페이지마다 내용 -->
    {{#> content}}

    {{/content}}


<!--jquery js-->
<script src="/js/jquery-3.4.1.min.js"></script>
<!--bootstrap js-->
<script src="/js/bootstrap.min.js"></script>
<!--custom js-->
<script src="/js/common.js"></script>
    {{#> footer}}

    {{/footer}}
</body>
</html>