<!DOCTYPE HTML>
<html>
<head>
    <title>리리샵</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--bootstrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <!--<div class="container-fluid" style="height: 8%;">
        <div class="row">

        </div>
    </div>-->
    <div class="h-100 container-fluid">
        <div class="h-100 row">
            <!-- Start Category Layout -->
            <div class="h-100 col-2 category">
                <div class="h-100">
                    <div class="row category-logo">
                        <div class="col" style="text-align: center;">
                            <img class="logo" src="/images/ririshop-logo.png" style="height: 50px;" alt="리리샵 로고">
                        </div>
                    </div>
                    <div class="row category-menus" onclick="location.href='/'">
                        <div class="col-4 align-self-start">아이콘</div>
                        <div class="col-8 align-self-center category-parent-menu">홈</div>
                    </div>

                    <div class="row category-menus">
                        <div class="col-4 align-self-start">아이콘</div>
                        <div class="col-8 align-self-center category-parent-menu">서비스</div>
                    </div>

                    <div class="row category-child">
                        <div class="col align-self-center category-child-menu">서비스</div>
                    </div>

                    <div class="row category-menus">
                        <div class="col-4 align-self-start">아이콘</div>
                        <div class="col-8 align-self-center category-parent-menu">고객</div>
                    </div>

                    <div class="row category-menus">
                        <div class="col-4 align-self-start">아이콘</div>
                        <div class="col-8 align-self-center category-parent-menu">직원</div>
                    </div>

                    <div class="row category-menus">
                        <div class="col-4 align-self-start">아이콘</div>
                        <div class="col-8 align-self-center category-parent-menu">매출</div>
                    </div>
                </div>
            </div>
            <!-- End Category layout-->

            <div class="col-10 container">
                <!-- Start Navigation -->
                <div class="row navigation">
                    <div class="col-sm">
                        리리 네일 살롱
                    </div>
                    <div class="col-sm">
                        검색
                    </div>
                    <div class="col-sm">
                        여기는 뭐하지
                    </div>
                </div>
                <!-- End Navigation -->

                <!-- Start Page Content -->
                <div class="content">
                {{#> content}}

                {{/content}}
                </div>
                <!-- End Page Content -->
            </div>
        </div>
    </div>
    <!--jquery js-->
    <script src="/lib/jquery-3.4.1.min.js"></script>
    <!--bootstrap js-->
    <script src="/lib/popper.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <!--custom js-->
    <script src="/js/base.js"></script>
    <!--<script src="/js/common.js"></script>-->
    {{#> footer}}

    {{/footer}}
</body>
</html>