{{#> layouts/base}}
    {{#*inline "content"}}
        <!--
        <div style="width: 100%;">
            div id="calendar" style="width: 70%;"></div>
        </div>
        -->
    {{/inline}}
    {{#* inline "footer"}}
        <!-- 예약 화면 Custom API 구현 후 -->
        <!--<script src="/lib/calendar/custom-calendar.js"></script>-->
        <script src="/js/test.js"></script>
    {{/inline}}
{{/layouts/base}}