{{#> layouts/base }}
    {{#* inline "content" }}
        <button id="category-btn" type="button" class="btn btn-warning">1차 분류</button>
        <button id="services-btn" type="button" class="btn btn-warning">2차 분류</button>

        <form id="category-enroll">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">1차 분류 명</span>
                        </div>
                        <input id="category-name" type="text" class="form-control" placeholder="카테고리 명" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">사용유무</span>
                        </div>
                        <select id="category-useYn" class="form-control" disabled>
                            <option value="Y" selected>사용</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">등록</button>
                </div>
            </div>
        </form>

        <form id="services-enroll">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">1차 분류</label>
                        </div>
                        <select class="custom-select" id="services-category">
                            <option value="none" selected>선택안함</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">서비스 명</span>
                        </div>
                        <input id="services-name" type="text" class="form-control" placeholder="서비스 명" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">서비스 금액</label>
                        </div>
                        <input id="services-price" type="text" class="form-control" placeholder="서비스 가격" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">사용유무</span>
                        </div>
                        <select id="services-useYn" class="form-control" disabled>
                            <option value="Y" selected>사용</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">등록</button>
                </div>
            </div>
        </form>

        <div id="danger" class="alert alert-danger" role="alert" style="display: none;">
            <span class="danger-message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/inline}}

    {{#* inline "footer" }}
        <script src="/js/services.js"></script>
    {{/inline}}
{{/layouts/base}}